{% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<div class="row">
  <div class="col-md-2">
      <div class="card" style="width: 11rem;height: 92vh; border: none; border-radius: 0%;display: contents;">
          <div class="card-body">
              <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 ">

                      <li class="nav-item" style="margin-top: 0.5rem;">
                          <a class="nav-link " aria-current="page" href="{% url 'dashboard' %}"><i
                                  class="fa fa-tachometer"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Dashboard</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'requisition' %}"><i class="fa fa-plus-square"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Requisitions</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'stock' %}"><i class="fa fa-table"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Stock</a>
                      </li>

                      {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'employees' %}"><i class="fa fa-users"
                                  style="margin-right:5px;margin-top: 1rem;"></i>Employees</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'report' %}"><i class="fa fa-book"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Report</a>
                      </li>
                      {% endif %}

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'instructions' %}"><i class="fa fa-map"
                                style="margin-right: 5px;margin-top: 1rem;"></i>Instructions</a>
                    </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Sign Out</a>
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </div>

<div class="row" style="max-width: 83rem; min-height: 60vh;border-radius: 20px; margin-top: 2rem;">
    <div class="col-md-12" >
        <section >
            <div class="container py-5">
              <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                    </ol>
                  </nav>
                </div>
              </div>
          
            <div class="row">
                
                <div class="col-lg-12">
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row " style="margin-top: 1rem;">
                        <div class="form-control">
                          {{user_form|crispy}}
                          {{profile_form|crispy}}
                          <input class="btn btn-info" type="submit" value="Update">
                        </div>
                          
                      </div>
                  </form>
                </div>
            </div>
                 
          </section>

    </div>

</div>
{% endblock %}