{% extends 'dashboard/dashboard.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="row" style="background-color: #1c4f24;" >
  <div class="col-12" style="background-color: #1c4f24;">
      <div class="page-title-box d-flex align-items-center justify-content-between" >
          <h4 class="page-title mb-0 font-size-18">Profile</h4>

          <div class="page-title-right" style="background-color: #1c4f24;">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item active">Welcome {{user.first_name|title}} {{user.last_name|title}}</li>
              </ol>
          </div>

      </div>
  </div>
</div>


<div class="card col-md-12 shadow-lg">
  <div class="card-body">
      <div class="row">
          <h5 class="card-title" style="text-align: center;">Edit Profile</h5>
          <div class="row">
              <div class="col-md-12">
                  <div class="row align-items-center">
                      <div class="col">
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row " style="margin-top: 1rem;">
                        <div class="form-control" style="margin-top: 1rem;">
                          <!-- {{user_form|crispy}} -->
                          {{profile_form|crispy}}

                          <input class="btn btn-info" type="submit" value="Update" style="margin-top: 2rem;">
                        </div>
                          
                      </div>
                  </form>
                </div>
            </div>
                 
          </div>
        </div>
    </div>
    

    </div>

</div>
{% endblock %}