{% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}

<div class="row" style="max-width: 83rem; min-height: 60vh;border-radius: 20px; margin-top: 2rem;">
    <div class="col-md-12" >
        <section >
            <div class="container py-5">
              <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                  </nav>
                </div>
              </div>
          
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="{{user.profile.image.url}}" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 class="my-3">{{user.username|title}}</h5>
                      <p class="text-muted mb-1">{{user.profile.jobTitle|title}}</p>
                      <p class="text-muted mb-4">{{user.profile.department|upper}}</p>
                      <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-outline-primary ms-1">Edit</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.first_name|title}} {{user.last_name|title}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.email}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.contact}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Job Title</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.jobTitle|title}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Division</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.division|upper}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Department</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.department|upper}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                 
          </section>

    </div>

</div>
{% endblock %}