{% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}

{% load static %}
<div class="row">
  <div class="col-md-2">
      <div class="card" style="width: 11rem;height: 92vh; border: none; border-radius: 0%;display: contents;">
          <div class="card-body">
              <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 ">

                      <li class="nav-item" style="margin-top: 0.5rem;">
                          <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}"><i
                                  class="fa fa-tachometer"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Dashboard</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'requisition' %}"><i class="fa fa-plus-square"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Requisitions</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'stock' %}"><i class="fa fa-table"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Stock</a>
                      </li>

                      {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'employees' %}"><i class="fa fa-users"
                                  style="margin-right:5px;margin-top: 1rem;"></i>Employees</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'report' %}"><i class="fa fa-book"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Report</a>
                      </li>
                      {% endif %}

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Sign Out</a>
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </div>

<div class="row" style="max-width: 83rem; min-height: 60vh;border-radius: 20px; margin-top: 2rem;">
    <div class="col-md-12" >
        <section >
            <div class="container py-5">
              <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                      
                    </ol>
                  </nav>
                </div>
              </div>
              {% for message in messages %}
                        {% if message %}
                        <div class="alert alert-{{ message.tags}}">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="{{user.profile.image.url}}" alt=" "
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 class="my-3">{{user.username|title}}</h5>
                      <p class="text-muted mb-1">{{user.profile.jobTitle|title}}</p>
                      <p class="text-muted mb-4">{{user.profile.department|upper}}</p>
                      <div class="d-flex justify-content-center mb-2">
                        <a href="{% url 'profile-update' %}"><button type="button" class="btn btn-outline-primary ms-1">Edit Profile</button></a>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.first_name|title}} {{user.last_name|title}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.email}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.contact}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Job Title</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.jobTitle|title}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Division</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.division|upper}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Department</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{user.profile.department|upper}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                 
          </section>

    </div>

</div>
{% endblock %}