{% extends 'dashboard/dashboard.html' %}
{% block title %} Employee Details {% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-2">
      <div class="card" style="width: 11rem;height: 92vh; border: none; border-radius: 0%;display: contents;">
          <div class="card-body">
              <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 ">

                      <li class="nav-item" style="margin-top: 0.5rem;">
                          <a class="nav-link " aria-current="page" href="{% url 'dashboard' %}"><i
                                  class="fa fa-tachometer"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Dashboard</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'requisition' %}"><i class="fa fa-plus-square"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Requisitions</a>
                      </li>

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'stock' %}"><i class="fa fa-table"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Stock</a>
                      </li>

                      {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                      <li class="nav-item">
                          <a class="nav-link active" href="{% url 'employees' %}"><i class="fa fa-users"
                                  style="margin-right:5px;margin-top: 1rem;"></i>Employees</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'report' %}"><i class="fa fa-book"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Report</a>
                      </li>
                      {% endif %}

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"
                                  style="margin-right: 5px;margin-top: 1rem;"></i>Sign Out</a>
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </div>


<div class="col-md-10" style="margin: 1rem auto 0 auto; display:block;">
  <div style="max-width: 83rem; min-height: 70vh;border-radius: 20px;background-color: opacity;">
    <div class="card-body">
      <h5 class="card-title" style="margin-top: 2rem; text-align: center;">
        Staff Profile </h5>
      <div class="row" style="margin-top: 7rem;">
        <div class="col-md-12">
          <div style="max-height: 70vh;;">
            <div class="row">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <img src="{{workers.profile.image.url}}" alt=" " class="rounded-circle img-fluid"
                      style="width: 150px;">
                    <h5 class="my-3">{{workers.username|title}}</h5>
                    <p class="text-muted mb-1">{{workers.profile.jobTitle|title}}</p>
                    <p class="text-muted mb-4">{{workers.profile.department|upper}}</p>
                    <p class="text-muted mb-4">Joined on {{workers.date_joined}}</p>

                  </div>
                </div>

              </div>
              <div class="col-lg-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.first_name|title}} {{workers.last_name|title}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.email}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.profile.contact}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Job Title</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.profile.jobTitle|title}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Division</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.profile.division|upper}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Department</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.profile.department|upper}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Superuser Status</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.is_superuser}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Active Status</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0">{{workers.is_active}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}