{% extends 'dashboard/dashboard.html' %}
{% block title %} Employees {% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-2">
        <div class="card" style="width: 11rem;height: 92vh; border: none; border-radius: 0%;display: contents;">
            <div class="card-body">
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 ">

                        <li class="nav-item" style="margin-top: 0.5rem;">
                            <a class="nav-link " aria-current="page" href="{% url 'dashboard' %}"><i
                                    class="fa fa-tachometer"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'requisition' %}"><i class="fa fa-plus-square"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Requisitions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stock' %}"><i class="fa fa-table"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Stock</a>
                        </li>

                        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'employees' %}"><i class="fa fa-users"
                                    style="margin-right:5px;margin-top: 1rem;"></i>Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report' %}"><i class="fa fa-book"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Report</a>
                        </li>

                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'instructions' %}"><i class="fa fa-map"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Instructions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Sign Out</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="col-md-10" style="margin: 2rem auto 0 auto; display:block;">
    <div class="card shadow-lg" style="max-width: 100%; min-height: 70vh;border-radius: 20px;">
        <div class="card-body">
            <a href="{% url 'employees' %}"><h5 class="card-title"><button type="button" class="btn btn-secondary btn-lg">
                Employee List <span class="badge text-bg-success">
                    {% with workers.count as total_workers %}
                        {{ total_workers }}
                    {% endwith %}
                </span>
              </button></h5></a>
              <form class="d-flex" role="search" action="{% url 'searchdata2' %}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div style="max-height: 70vh; overflow-y: auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Employee ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Job Title</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Division</th>
                                    <th scope="col">Joined</th>
                                    <th scope="col">Mobile</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% if workers|length == 0 %}
                            <td colspan="12" style="text-align: center;"><h5>There are no employees</h5></td>
                            {% endif %}
                            <tbody>
                                {% for worker in workers %}
                                <tr>
                                    <td scope="col">{{worker.id}}</td>
                                    <td><img src="{{worker.profile.image.url}}" alt=" "
                                        class="rounded-circle img-fluid" style="width: 35px;"> {{ worker.first_name|title }} {{ worker.last_name|title }}</td>
                                    <td>{{ worker.profile.jobTitle|title}}</td>
                                    <td>{{ worker.profile.department|upper}}</td>
                                    <td>{{ worker.profile.division|upper}}</td>
                                    <td>{{ worker.date_joined}}</td>
                                    <td>{{ worker.profile.contact}}</td>
                                    <td><a href="{% url 'employees-detail' pk=worker.id %}"><button class="btn btn-info">View</button></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
