{% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}

<div class="col-md-10" style="margin: 1rem auto 0 auto; display:block;">
    <div class="card shadow-lg" style="max-width: 83rem; min-height: 70vh;border-radius: 20px;">
        <div class="card-body">
            <a href="{% url 'employees' %}"><h5 class="card-title"><button type="button" class="btn btn-secondary btn-lg">
                Employee List <span class="badge text-bg-success">
                    {% with workers.count as total_workers %}
                        {{ total_workers }}
                    {% endwith %}
                </span>
              </button></h5></a>
              <form class="d-flex" role="search" action="{% url 'searchdata2' %}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div style="max-height: 70vh; overflow-y: auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Job Title</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Division</th>
                                    <th scope="col">Joined</th>
                                    <th scope="col">Mobile</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for worker in workers %}
                                <tr>
                                    <td><img src="{{worker.profile.image.url}}" alt=" "
                                        class="rounded-circle img-fluid" style="width: 35px;"> {{ worker.first_name|title }} {{ worker.last_name|title }}</td>
                                    <td>{{ worker.profile.jobTitle|title}}</td>
                                    <td>{{ worker.profile.department|upper}}</td>
                                    <td>{{ worker.profile.division|upper}}</td>
                                    <td>{{ worker.date_joined}}</td>
                                    <td>{{ worker.profile.contact}}</td>
                                    <td><a href="{% url 'employees-detail' pk=worker.id %}"><button class="btn btn-info">View</button></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
