{% extends 'dashboard/dashboard.html' %}

{% block title %} Instructions {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <div class="card" style="width: 11rem;height: 92vh; border: none; border-radius: 0%;display: contents;">
            <div class="card-body">
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 ">
  
                        <li class="nav-item" style="margin-top: 0.5rem;">
                            <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}"><i
                                    class="fa fa-tachometer"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Dashboard</a>
                        </li>
  
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'requisition' %}"><i class="fa fa-plus-square"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Requisitions</a>
                        </li>
  
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stock' %}"><i class="fa fa-table"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Stock</a>
                        </li>
  
                        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees' %}"><i class="fa fa-users"
                                    style="margin-right:5px;margin-top: 1rem;"></i>Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report' %}"><i class="fa fa-book"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Report</a>
                        </li>
                        
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'instructions' %}"><i class="fa fa-map"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Instructions</a>
                        </li>
  
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Sign Out</a>
                        </li>
  
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
  <div class="row" style="max-width: 83rem; min-height: 60vh;border-radius: 20px; margin-top: 2rem;">
      <div class="col-md-12" >  
        <div class="row">
            <div class="col-md-8" style="margin: 0rem auto 0 auto;">
                <p class="display-4" id="instructions" name="about" style="text-align: center;">
                    Instructions
                </p>
                <hr>
                <ol class="list-group">
                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                    <li class="list-group-item">- Please click on the avatar at the top right corner to view and edit your profile details.</li>
                    <li class="list-group-item">- Before making a request, please click on "Stock" to check for the items available and the quantity in stock then proceed.</li>
                    <li class="list-group-item">- To make an order, click on "Requisitions", select "Request Items" the key in your order and hit submit. NB. Description has to be the reason you are requesting for the items.</li>
                    <li class="list-group-item">- As an admin, you can see all orders and change the status of all orders. By default, all orders will be pending. When approved by the admin, the status of the order will change on the user's dashboard and the view requests tab in the admin "Requisitions" panel.</li>
                    <li class="list-group-item">- Please make sure you click the edit button on an order and add the item label you gave out in the description(eg.Biometric Devices 2,4,5) and update the order before giving it out.</li>
                    <li class="list-group-item">- If you are the admin that gave out the items to a user, please update the status of that particular order to released before the user leaves. Update the status to received if the items were received by you.</li>
                    <li class="list-group-item">- Admins can generate report in the "Report" panel and use a range of filters to aid in the getting the required report. </li>
                    <li class="list-group-item">- The "Employees" panel allows access to view the users using the application.</li>
                    <li class="list-group-item">- The dashboard provides an overview of products and orders. Clicking on "Order Details" beside a particular order allows you to have a preview of the order description. The pie chart provides info about all orders excluding orders with status returned. The bar chart provides info about the products available.</li>
                    {% else %}
                    <li class="list-group-item">- Please click on the avatar at the top right corner to view and edit your profile details.</li>
                    <li class="list-group-item">- Before making a request, please click on "Stock" to check for the items available and the quantity in stock then proceed.</li>
                    <li class="list-group-item">- To make an order, click on requisitions, key in your order and hit submit. NB. Description should be the reason you are coming for the items.</li>
                    <li class="list-group-item">- As long as your order status is pending, you can edit your order.</li>
                    <li class="list-group-item">- When an order status is approved, you can proceed to the support center to take your items. Please make sure the admin updates the status to released after picking up all items. Also crosscheck on your dashboard to be sure. </li>
                    <li class="list-group-item">- After you have returned the items to an admin, make sure the status has been updated as "returned". Also, crosscheck from your dashboard</li>
                    <li class="list-group-item">- By default, all orders will be pending. When approved by the admin, the status of the order will change on the your dashboard. Or you can call any of the admins after you have made an order. </li>
                    
                    {% endif %}

                </ol>

            </div>
        </div>
    </div>

        



{% endblock %}