{% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-10" style="margin: 2rem auto 0 auto; display:block;">
    <p class="d-inline-flex gap-1">
        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
            <button class="btn btn-secondary toggle-button btn-lg" type="button" onclick="toggleCollapse('multiCollapseExample1')">View Requests<span class="badge text-bg-success">
                {% with orders.count as total_orders %}
                    {{ total_orders }}
                {% endwith %}
            </span></button>
        {% endif %}
            <button class="btn btn-secondary toggle-button btn-lg" type="button" onclick="toggleCollapse('multiCollapseExample2')" style="margin-left: 0.5rem;">Request Items</button>
        </p>
    
        
        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
        <div class="collapse show" id="multiCollapseExample1">
            <div class="card shadow-lg" style="max-width: 83rem; min-height: 60vh;border-radius: 20px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">All Orders</h5>
                    <form class="d-flex" role="search" action="{% url 'searchdata' %}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                <div class="row">
                    <div class="col-md-12" style="max-height: 60vh; overflow-y: auto;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Order By</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Date Returned</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Released by</th>
                                    <th scope="col">Recieved By</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </tbody>
                            {% if orders|length == 0 %}
                            <td colspan="12" style="text-align: center;"><h5>There are no orders</h5></td>
                            {% endif %}
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td scope="col">{{ order.item_name|title }}</td>
                                    <td scope="col">{{ order.order_description|title }}</td>
                                    <td scope="col">{{ order.order_quantity }}</td>
                                    <td scope="col">{{ order.users.username|title }}</td>
                                    <td scope="col">{{ order.date }}</td>
                                    <td scope="col">{{ order.returned_date }}</td>
                                    <td scope="col">

                                        <form action="{% url 'update_order_status' order.id %}" method="post">
                                            {% csrf_token %}
                                            <select name="status" class="form-select" {% if not request.user.is_superuser %}disabled{% endif %}>
                                                <option value="pending" {% if order.status == 'pending' %}selected{% endif %}>Pending</option>
                                                <option value="approved" {% if order.status == 'approved' %}selected{% endif %}>Approved</option>
                                                <option value="released" {% if order.status == 'released' %}selected{% endif %}>Released</option>
                                                <option value="returned" {% if order.status == 'returned' %}selected{% endif %}>Returned</option>
                                            </select>
                                            {% if request.user.is_superuser %}
                                            <button type="submit" class="btn btn-primary">Update</button>
                                            {% endif %}
                                        </form>
                                    </td>
                                    <td scope="col">{{ order.released_by|title }}</td>
                                    <td scope="col">{{ order.returned_to|title }}</td>
                                    <td scope="col">
                                        <a href="{% url 'order-update' pk=order.id %}"><button class="btn btn-primary">Edit</button></a>
                                        <a href="{% url 'order-delete' pk=order.id %}"><button class="btn btn-danger">Delete</button></a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                            
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    <div class="collapse" id="multiCollapseExample2">
    {% else %}
    <div class="collapse show" id="multiCollapseExample2">
    {% endif %}
        <div class="card shadow-lg" style="max-width: 83rem; min-height: 60vh;border-radius: 20px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Request For Items</h5>
                <div class="row">
                    <div class="col-md-12" style="max-height: 60vh; overflow-y: auto; margin-top: 2rem;">
                        <form id="itemForm" method="POST">
                            {% csrf_token %}
                            {% if messages %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for message in messages %}
                                    <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <div class="form-group col-md-4 mx-auto">
                                
                                {{ form|crispy }}
                                
                                
                            </div>
                            
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mx-auto d-block" style="margin-top: 2rem;">
                                    Request
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


</div>


<script>
    function toggleCollapse(collapseId) {
        var collapse1 = document.getElementById('multiCollapseExample1');
        var collapse2 = document.getElementById('multiCollapseExample2');

        if (collapseId === 'multiCollapseExample1') {
            if (collapse1.classList.contains('show')) {
                collapse1.classList.remove('show');
            } else {
                collapse1.classList.add('show');
                collapse2.classList.remove('show');
            }
        } else if (collapseId === 'multiCollapseExample2') {
            if (collapse2.classList.contains('show')) {
                collapse2.classList.remove('show');
            } else {
                collapse2.classList.add('show');
                collapse1.classList.remove('show');
            }
        }
    }


    document.getElementById('item').addEventListener('change', function () {
        var itemSelect = document.getElementById('item');
        var quantityFields = document.getElementById('quantityFields');
        quantityFields.innerHTML = '';

        for (var i = 0; i < itemSelect.selectedOptions.length; i++) {
            var itemName = itemSelect.selectedOptions[i].value;
            var label = document.createElement('label');
            label.textContent = itemName + ' Quantity:';
            var input = document.createElement('input');
            input.type = 'number';
            input.name = 'quantity[]'; // Use array notation for multiple inputs
            input.classList.add('form-control');
            input.style.marginTop = '0.5rem';
            quantityFields.appendChild(label);
            quantityFields.appendChild(input);
        }
    });
</script>

{% endblock %}
