<!-- {% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-2">
        <div class="card" style="width: 11rem;height: 92vh; border: none; border-radius: 0%;display: contents;">
            <div class="card-body">
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 ">

                        <li class="nav-item" style="margin-top: 0.5rem;">
                            <a class="nav-link " aria-current="page" href="{% url 'dashboard' %}"><i
                                    class="fa fa-tachometer"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'requisition' %}"><i class="fa fa-plus-square"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Requisitions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'stock' %}"><i class="fa fa-table"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Stock</a>
                        </li>

                        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees' %}"><i class="fa fa-users"
                                    style="margin-right:5px;margin-top: 1rem;"></i>Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'report' %}"><i class="fa fa-book"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Report</a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'instructions' %}"><i class="fa fa-map"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Instructions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"
                                    style="margin-right: 5px;margin-top: 1rem;"></i>Sign Out</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="col-md-10" style="margin: 2rem auto 0 auto; display:block;">
    <p class="d-inline-flex gap-1">
        <button class="btn btn-secondary toggle-button btn-lg" type="button" onclick="toggleCollapse('multiCollapseExample1')">View Stock <span class="badge text-bg-success">
            {% with stocks.count as total_stocks %}
                {{ total_stocks }}
            {% endwith %}
        </span></button>
        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
        <button class="btn btn-secondary toggle-button btn-lg" type="button" onclick="toggleCollapse('multiCollapseExample2')" style="margin-left: 0.5rem;">Add Stock</button>
        {% endif %}
    </p>



    <div class="collapse show" id="multiCollapseExample1">
        <div class="card shadow-lg" style="max-width: 100%; min-height: 60vh;border-radius: 20px;">
            <div class="card-body">
                {% for message in messages %}
                {% if message %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} col-md-4">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <h5 class="card-title" style="text-align: center;">Stock</h5>
                <form class="d-flex" role="search" action="{% url 'searchdata3' %}" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="row">
                    <div class="col-md-12" style="max-height: 60vh; overflow-y: auto;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="col">Stock ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Available </th>
                                    <th scope="col">Total</th>
                                    {% if request.user.is_superuser %}
                                        <th scope="col">Action</th>
                                    {% endif %}
                                </tr>
                                {% if stocks|length == 0 %}
                                    <tr>
                                        <td colspan="4" style="text-align: center;">There are no stocks</td>
                                    </tr>
                                {% endif %}
                                {% for stock in stocks %}
                                    <tr>
                                        <td scope="col">{{stock.id}}</td>
                                        <td scope="col">{{ stock.name|title }}</td>
                                        <td scope="col">{{ stock.description|title }}</td>
                                        
                                        <td scope="col">
                                            {% if stock.get_total_quantity < 10 %}
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ stock.quantity }}%;" aria-valuenow="{{ stock.get_total_quantity }}" aria-valuemin="0" aria-valuemax="{{ max_stock_quantity }}"><strong>{{ stock.get_total_quantity }}</strong></div>
                                                </div>
                                            {% elif stock.get_total_quantity < 20 %}
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ stock.quantity }}%;" aria-valuenow="{{ stock.get_total_quantity }}" aria-valuemin="0" aria-valuemax="{{ max_stock_quantity }}"><strong>{{ stock.get_total_quantity }}</strong></div>
                                                </div>
                                            {% else %}
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ stock.quantity }}%;" aria-valuenow="{{ stock.get_total_quantity }}" aria-valuemin="0" aria-valuemax="{{ max_stock_quantity }}"><strong>{{ stock.get_total_quantity }}</strong></div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td scope="col">{{ stock.quantity }}</td>
                                        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                                            <td scope="col">
                                                <a href="{% url 'stock-update' pk=stock.id %}"><button class="btn btn-primary">Edit</button></a>
                                                <a href="{% url 'stock-delete' pk=stock.id %}"><button class="btn btn-danger">Delete</button></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            

                            


                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    <div class="collapse" id="multiCollapseExample2">
        <div class="card shadow-lg" style="max-width: 83rem; min-height: 60vh;border-radius: 20px;">
            <div class="card-body">
                
                <h5 class="card-title " style="text-align: center;">Add Stock</h5>
                <div class="row">
                    <div class="col-md-12" style="max-height: 60vh; overflow-y: auto;margin-top: 2rem;">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group col-md-4 mx-auto">
                                {{form|crispy}}
                            </div>
                            
                                <button type="submit" class="btn btn-primary mx-auto d-block" style="margin-top: 2rem;">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    function toggleCollapse(collapseId) {
        var collapse1 = document.getElementById('multiCollapseExample1');
        var collapse2 = document.getElementById('multiCollapseExample2');

        if (collapseId === 'multiCollapseExample1') {
            if (collapse1.classList.contains('show')) {
                collapse1.classList.remove('show');
            } else {
                collapse1.classList.add('show');
                collapse2.classList.remove('show');
            }
        } else if (collapseId === 'multiCollapseExample2') {
            if (collapse2.classList.contains('show')) {
                collapse2.classList.remove('show');
            } else {
                collapse2.classList.add('show');
                collapse1.classList.remove('show');
            }
        }
    }
</script>








{% endblock %} -->