{% extends 'dashboard/dashboard.html' %}
{% block title %} Stock {% endblock %}
{% block content %}

<div class="col-md-10" style="margin: 2rem auto 0 auto; display:block;">
    <p class="d-inline-flex gap-1">
        <button class="btn btn-secondary toggle-button btn-lg" type="button"
            onclick="toggleCollapse('multiCollapseExample1')">View Available Stock</button>
        <button class="btn btn-secondary toggle-button btn-lg" type="button"
            onclick="toggleCollapse('multiCollapseExample2')" style="margin-left: 0.5rem;">Add Stock</button>
    </p>



    <div class="collapse" id="multiCollapseExample1">
        <div class="card shadow-lg" style="max-width: 83rem; min-height: 60vh;border-radius: 20px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Available Items</h5>
                <div class="row">
                    <div class="col-md-12" style="max-height: 60vh; overflow-y: auto;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="col-md-4">ID</th>
                                    <th class="col-md-4">Name</th>
                                    <th class="col-md-4">
                                        Quantity
                                    </th>
                                    <th class="col-md-4">
                                        
                                    </th>
                                </tr>
                                {% if stocks|length == 0 %}
                                <tr>
                                    <td class="col-md-4"></td>
                                    <td class="col-md-4"></td>
                                    <td class="col-md-4">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 0%;"
                                                aria-valuenow="" aria-valuemin="0" aria-valuemax=""></div>
                                        </div>
                                    </td>
                                    <td class="col-md-4">
                                        
                                    </td>
                                </tr>
                                {% endif %}

                                {% for stock in stocks %}
                                <tr>
                                    <td class="col-md-4">{{ stock.id }}</td>
                                    <td class="col-md-4">{{ stock.name }}</td>
                                    <td class="col-md-4">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{ stock.quantity|safe }}%;;"
                                                aria-valuenow="{{stock.quantity}}" aria-valuemin="0" aria-valuemax="{{ max_stock_quantity }}">{{stock.quantity}}</div>
                                        </div>
                                    </td>
                                    <td class="col-md-4">
                                        <button class="btn btn-danger">Delete Item</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>


                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="multiCollapseExample2">
        <div class="card shadow-lg" style="max-width: 83rem; min-height: 60vh;border-radius: 20px;">
            <div class="card-body">
                <h5 class="card-title " style="text-align: center;">Add Stock</h5>
                <div class="row">
                    <div class="col-md-12" style="max-height: 60vh; overflow-y: auto;margin-top: 2rem;">
                        <form action="">
                            <div class="form-group col-md-4 mx-auto">
                                <label for="exampleDataList" class="form-label" style="margin-top: 1rem;">Item
                                    Name</label>
                                <input class="form-control" list="datalistOptions" id="exampleDataList"
                                    placeholder="Type to search...">
                                <datalist id="datalistOptions">
                                    <option value="Black Biometric">
                                    <option value="Blue Biometric">
                                    <option value="Lenovo Laptop">
                                    <option value="Hp Laptops">
                                    <option value="Extension">
                                </datalist>
                            </div>
                            <div class="form-group col-md-4 mx-auto">
                                <label for="text" style="margin-top: 1rem;">Description</label>
                                <input type="text" id="title" name="title" class="form-control">
                            </div>
                            <div class="form-group col-md-4 mx-auto">
                                <label for="priority" style="margin-top: 1rem;">Quantity</label>
                                <input type="number" id="priority" name="priority" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mx-auto d-block" style="margin-top: 2rem;">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function toggleCollapse(collapseId) {
        var collapse1 = document.getElementById('multiCollapseExample1');
        var collapse2 = document.getElementById('multiCollapseExample2');

        if (collapseId === 'multiCollapseExample1') {
            if (collapse1.classList.contains('show')) {
                collapse1.classList.remove('show');
            } else {
                collapse1.classList.add('show');
                collapse2.classList.remove('show');
            }
        } else if (collapseId === 'multiCollapseExample2') {
            if (collapse2.classList.contains('show')) {
                collapse2.classList.remove('show');
            } else {
                collapse2.classList.add('show');
                collapse1.classList.remove('show');
            }
        }
    }
</script>









{% endblock %}