{% extends 'dashboard/dashboard.html' %}
{% block title %} View Requests {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row" style="background-color: #1c4f24;">
    <div class="col-12" style="background-color: #1c4f24;">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Requisitions</h4>

            <div class="page-title-right" style="background-color: #1c4f24;">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Welcome {{ user.first_name|title }} {{ user.last_name|title }}</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="card col-md-12 shadow-lg">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title" style="text-align: center;">All Requisitions ({{ page_obj.paginator.count }})</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center">
                        <div class="col">
                            <form class="row g-2" role="search" action="{% url 'searchdata' %}" method="GET">
                                <div class="col-auto">
                                    <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="query" value="{{ query|default:'' }}">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-outline-success">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">Request ID</th>
                                    <th scope="col">Issued By</th>
                                    <th scope="col">Issued To</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if page_obj.object_list|length == 0 %}
                                <tr>
                                    <td colspan="8" style="text-align: center;"><h5>No results found</h5></td>
                                </tr>
                                {% endif %}
                                {% for order in page_obj %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td><a href="{% url 'employees-detail' pk=order.users.id %}" title="View Profile"><img src="{{ order.users.profile.image.url }}" alt=" " class="rounded-circle img-fluid" style="width: 35px;"></a> {{ order.users.username|title }}</td>
                                    <td>
                                        {% if order.issued_to == None %}
                                            Self
                                        {% else %}
                                            {{ order.issued_to|title }}
                                        {% endif %}
                                    </td>
                                    <td>{{ order.item_name|title }}</td>
                                    <td>{{ order.request_quantity }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <form id="updateOrderForm-{{ order.id }}" action="{% url 'update_order_status' order.id %}" method="post">
                                            {% csrf_token %}
                                            <select name="status" class="form-select" {% if not request.user.is_superuser and not is_sub_admin %}disabled{% endif %} onchange="submitForm('{{ order.id }}')">
                                                {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                                                <option value="pending" {% if order.status == 'pending' %}selected{% endif %}>Pending</option>
                                                <option value="approved" {% if order.status == 'approved' %}selected{% endif %}>Approved</option>
                                                <option value="released" {% if order.status == 'released' %}selected{% endif %}>Released</option>
                                                <option value="returned" {% if order.status == 'returned' %}selected{% endif %}>Returned</option>
                                                {% elif is_sub_admin and order.status == 'approved' or order.status == 'released' or order.status == 'returned'%}
                                                
                                                <option value="approved"  {% if order.status == 'approved' %}selected{% endif %}>Approved</option>
                                                <option value="released"  {% if order.status == 'released' %}selected{% endif %}>Released</option>
                                                <option value="returned"  {% if order.status == 'returned' %}selected{% endif %}>Returned</option>
                                                {% else %}
                                                <option value=""  >Awaiting Approval...</option>
                                                {% endif %}
                                            </select>
                                        </form>
                                    </td>
                                    <td>
                                        <button type="button" class="order-update bs-modal btn btn-sm btn-primary" data-form-url="{% url 'order-update' order.id %}">
                                            Edit
                                        </button>
                                        <div class="modal fade" tabindex="-1" role="dialog" id="modal" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content"></div>
                                            </div>
                                        </div>
                                        <button type="button" class="order-delete bs-modal btn btn-sm btn-danger" data-form-url="{% url 'order-delete' order.id %}">
                                            Delete
                                        </button>
                                        <div class="modal fade" tabindex="-1" role="dialog" id="modal" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content"></div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#requestModal{{ order.id }}">
                                            More Info
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="requestModal{{ order.id }}" tabindex="-1" aria-labelledby="requestModalLabel{{ order.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="requestModalLabel{{ order.id }}">More Information</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <p><b>Description</b>: {{ order.request_description|title }}</p>
                                                        <p><b>Intended Date of Return</b>: {{ order.intended_date_of_return }}</p>
                                                        <p><b>Returned Date</b>: {{ order.returned_date }}</p>
                                                        <p><b>Approved By</b>: {{ order.approved_by|title }}</p>
                                                        <p><b>Released By</b>: {{ order.released_by|title }}</p>
                                                        <p><b>Returned To</b>: {{ order.returned_to|title }}</p>
                                                        <p>
                                                            <form method="post" action="{% url 'view-request' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                                                <b>Request overdue?:</b>
                                                                <button class="btn btn-primary" type="submit" name="send_email">Send Reminder Email</button>
                                                            </form>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination controls -->
                    <div class="pagination justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm(orderId) {
        var form = document.getElementById('updateOrderForm-' + orderId);
        form.submit();
    }
</script>
{% endblock %}
